@import '../../../app/app.scss';
forgot-password-page {
    .header-label {
        color: $light-font;
    }
    .main-view {
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: transparent;
    }
    .scroll-content {
        background: rgba(0, 0, 0, 0.5) !important;
    }
    .modal_content {
        color: $light-font;
        position: absolute;
        top: calc(50% - (80%/2));
        left: 0;
        right: 0;
        width: 100%;
        height: 85%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: scroll;
        background: $background-color;
    }
    .alt-text {
        text-align: center;
        color: $light-font;
        margin: 0;
    }
}