@import '../../app/app.scss';
settings-page {
    background: $tertiary-color;
    ion-segment,
    .segment-md .segment-button {
        height: 60px;
        line-height: 6rem;
        background: rgba(46, 47, 56, 0.6);
        color: $light-font;
    }
    .item-md {
        background: $background-color;
        color: $light-font;
        word-wrap: wrap;
    }
    .item-inner {
        border: none !important;
    }
    .item-label-stacked .text-input-md,
    .item-label-floating .text-input-md {
        background: #2d2d37;
        height: 50px;
        padding: 10px;
    }
    .checkbox-md .checkbox-icon {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: $tertiary-color;
        border-color: $highlight-color;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
        left: 12.5px;
        top: 5px;
        position: absolute;
        width: 10px;
        height: 20px;
        border-width: 3px;
        border-top-width: 0;
        border-left-width: 0;
        border-color: $highlight-color;
    }
    .item.item-md .checkbox-md {
        margin: 10px;
    }
    .checkbox-md+.item-inner ion-label {
        white-space: normal;
    }
    .logout-button {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5298af+0,52afa3+100 */
        background: #5298af;
        /* Old browsers */
        background: -moz-linear-gradient(left, #5298af 0%, #52afa3 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #5298af 0%, #52afa3 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #5298af 0%, #52afa3 100%);
        color: white;
        border-radius: 7px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
    .error_message {
        color: rgb(213, 77, 77);
    }
}