<ion-content text-center>
    <div>
        <ion-segment [(ngModel)]="mode">
            <ion-segment-button value="profile">
                Edit Profile
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="mode">
        <div *ngSwitchCase="'profile'">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Username</ion-label>
                    <ion-input (keyup)="formChange( 'username')" [(ngModel)]="newForm.username" type="text" placeholder="{{ user.username }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Tag</ion-label>
                    <ion-input (keyup)="formChange( 'tag')" [(ngModel)]="newForm.tag" type="text" placeholder="{{ user.tag }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input (keyup)="formChange( 'email')" [(ngModel)]="newForm.email" type="email" placeholder="{{ user.email }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Change Password</ion-label>
                    <ion-input clearOnEdit="false" (keyup)="formChange( 'password' )" [(ngModel)]="newForm.password" type="password"></ion-input>
                    <ion-label stacked *ngIf="!pureForm.password"> * Will need to verify password upon submit</ion-label>
                </ion-item>
                <p class="error_message" *ngIf="message != null">{{message}}</p>
                <ion-item>
                    <ion-segment>
                        <ion-segment-button (ionSelect)="mode=false">
                            Cancel
                        </ion-segment-button>
                        <ion-segment-button (ionSelect)="savePreCheck()">
                            Save
                        </ion-segment-button>
                    </ion-segment>
                </ion-item>
            </ion-list>
        </div>


        <div *ngSwitchCase="false">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Username</ion-label>
                    <ion-input type="text" value="{{ user.username }}" disabled></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Tag</ion-label>
                    <ion-input type="text" value="@{{user.tag}}" disabled></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input type="email" value="@{{ user.email }}" disabled></ion-input>
                </ion-item>
                <ion-item>
                    <button class="logout-button" ion-button block (click)="logout()">Log Out</button>
                </ion-item>

            </ion-list>
        </div>
    </div>

</ion-content>