<ion-content (ionScroll)="scrollHandler($event)">
    <ion-fab right bottom *ngIf="yPos != 0">
        <button ion-fab color="dark" (click)="scrollToTop()"><ion-icon name="arrow-up"></ion-icon></button>
    </ion-fab>
    <button ion-button full class="addFriendButton">Add Friends</button>
    <ion-list>
        <ion-item>
            <ion-label color="primary" inline>
                <ion-icon name="search"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="Search For Friend" [(ngModel)]="friendQuery"></ion-input>
        </ion-item>
    </ion-list>
    <div class="content-container">
        <ion-list id="friends-list">
            <ion-item-sliding *ngFor="let friend of friends | friendFilter:friendQuery:['name']">
                <ion-item [ngStyle]="{'border-left':'8px solid ' + friend.color}">
                    <ion-avatar item-start>
                        <img [src]="friend.image">
                    </ion-avatar>
                    <h2>{{friend.name}}</h2>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteFriend(friend)">
                      <ion-icon name="mail"></ion-icon>
                      Unfriend
                    </button>
                    <button ion-button color="primary" (click)="sendLocation(friend)">
                    <ion-icon name="mail"></ion-icon>
                    Send Location
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>