// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$background-color:#25262f;
$secondary-color: #21222b;
$tertiary-color:#1e1f27;
$highlight-color: #5298af;
$light-font: #798194;
.searchFab {
    .fab[mini] {
        background-color: rgba(0, 0, 0, 0.30);
        border-radius: 0;
        box-shadow: none;
    }
    ion-fab-list[side=left] {
        margin: 0 66px 0 0;
        right: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        width: 220px;
    }
    .searchbar-md {
        background: rgba(0, 0, 0, 0);
        padding: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.30);
    }
    .searchbar-md .searchbar-input {
        box-shadow: none;
        background: $secondary-color;
    }
}

._gmaps_cdv_ .nav-decor {
    background-color: rgba(0, 0, 0, 0);
}

.scroll-content {
    background-color: $background-color;
}

.tabs-md .tabbar,
.tabs-ios .tabbar {
    background: $secondary-color;
    // border-bottom: 1px solid $background-color !important;
    height: 90px;
}

.tabs-md .tab-button-icon {
    font-size: 2.8rem;
}

.tabs-ios .tabbar {
    padding: 10px;
    padding-top: 20px;
}

.tabs-md[tabsHighlight=true] .tab-highlight,
.tabs-ios[tabsHighlight=true] .tab-highlight {
    background-color: $highlight-color;
}

.tabs-md .tab-button-icon,
.tabs-ios .tab-button-icon {
    color: $light-font;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: $highlight-color;
}

.fab-md-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(33, 34, 43, 0.82);
}