@import '../../app/app.scss';
markers-page {
    .scroll-content {
        background: $secondary-color;
    }
    .marker-list {
        padding: 10px;
    }
    .grid {
        padding: 5px 0;
    }
    .action-list {
        padding-top: 5px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        .button-md {
            box-shadow: none;
            border: none;
            background: transparent;
        }
    }
    .marker-item {
        color: $light-font;
        padding: 0;
        border-bottom: 2px solid $tertiary-color;
    }
    ion-avatar,
    .item-md {
        background: $secondary-color;
        padding-left: 2px;
    }
    .item-md {
        padding-left: 12px;
        border-bottom: 2px solid $tertiary-color;
    }
    .item-md ion-avatar ion-img,
    .item-md ion-avatar img {
        border-radius: 50%;
        width: 65px;
        height: 65px;
    }
    .content-container {
        padding: 0;
    }
    .list-md .item-block .item-inner {
        border: 0;
    }
    .list-md ion-item-options {
        border-bottom: none;
    }
    .item-md h2 {
        color: $light-font;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 0;
    }
    .list-md ion-item-sliding {
        background-color: $background-color;
    }
    .list-md .item-input:last-child {
        border-bottom: none;
    }
    .list-md {
        margin: 0 !important;
    }
}

.alert-md .alert-wrapper {
    background: $tertiary-color;
    color: $light-font;
}

.alert-md .alert-radio-group,
.alert-md .alert-checkbox-group {
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
}

.alert-md .alert-message,
.alert-md .alert-input-group,
.alert-md .alert-checkbox-label {
    color: $light-font;
}

.alert-md .alert-button {
    color: $highlight-color;
}

.alert-md .alert-button.deleteButton {
    color: #b34e4e;
}

.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: rgba(19, 33, 37, 0.72);
    background-color: $highlight-color;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    transition: all 300ms ease-in;
}

.alert-md [aria-checked=true] .alert-checkbox-label {
    color: $light-font;
    font-weight: 800;
}

.alert-md [aria-checked=true] .alert-checkbox-inner {
    left: 10px;
    top: 5px;
    width: 10px;
    height: 18px;
    border-width: 5px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: rgba(30, 31, 39, 0.8);
}