<ion-content>
    <ion-list>
        <ion-item>
            <ion-label color="primary" inline>
                <ion-icon name="search"></ion-icon>
            </ion-label>
            <ion-input type="text" placeholder="Search For Marker" [(ngModel)]="markerQuery"></ion-input>
        </ion-item>
    </ion-list>
    <div class="marker-list">
        <div class="marker-item" *ngFor="let marker of markers | friendFilter:markerQuery:['memo', 'date']">
            <ion-grid>
                <ion-row>
                    <p> {{ marker.memo }} </p>
                </ion-row>
                <ion-row>
                    <small>{{marker.date | date:'dd/MM/yy'}}</small>
                </ion-row>
                <ion-row>
                    <div class="action-list">
                        <button class="action-button" (click)="gotoMarker( marker )" ion-button icon-only>
                            <ion-icon name="pin"></ion-icon>
                        </button>
                        <button (click)="shareMarker(marker)" class="action-button" ion-button icon-only>
                            <ion-icon name="send"></ion-icon>
                        </button>
                        <button (click)="deleteMarker(marker)" class="action-button" ion-button icon-only>
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </div>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="!markers?.length" class="no-markers">
            <p>You don't have any markers!</p>
        </div>
    </div>
</ion-content>